<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contacts</title>
  <h1>All Contacts</h1>
</head>

<body>
<ul>
<% $rolodex.@contacts.each do |contact| %>
  <li><%= contact.first_name %> <%= contact.last_name %>: <%= contact.email %> - <%= contact.note %></li>
<% end %>
</ul>

</body>
</html>