<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Best Friends Manager</title>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>

<body>
  <h1>It's tough being as popular as you are. Let us help.</h1>


</body>
</html>