<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
  <title>My Best Friends Manager</title>
</head>

<body>
 <nav>
  <ul>
    <li><a href="/contacts">All Friends</a></li>
    <li><a href="/contacts/new">+ Friend</a></li>
  </ul>
</nav>
<header><%= @@crm_app_name %></header>


<%= yield %>

<footer>
  <h3>It's tough being as popular as you are. Let us help.</h3>
</footer>

</body>
</html>