header {
  background-image: url(http://f.fwallpapers.com/images/animal-friendship.png)no-repeat;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  font-family: 'Satisfy', cursive;
  text-align: center;
  color: #FFFFFF;
  font-size: 300%;
  padding: 10%;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 400px;
}

nav {
  background-color: rgba(26, 110, 94, 0.75);
  color: white;
  text-align: right;
  padding-top: 2px;
  padding-bottom:2px;
  left: 0px;
  right: 0px;
  position: fixed;
  margin-top: -10px;
}
nav li {
  list-style: none;
  display: inline;
  padding-right: 75px;
  font-family: georgia;
  font-size: 1em;
}

h1 {
  color: #1A7160;
  text-align: center;
}

footer h3{
  text-align: center;
  position: fixed;
  left: 0px;
  right: 0px;
  height: 30px;
  background: #4D9C8D;
}
